/* ETIQUETAS GENERALES */
* {
  margin: 0;
}

body {
    background-color: #e0e7f3;
    color: #243a73;
    font-family: 'Montserrat', sans-serif;
}

h1 {
  font-family: 'Cormorant Garamond', serif;
  font-weight: 400;
  font-size: 50px;
  margin: 30px 50px;
}

/* imagen de la ubicación */
img {
  width: 50%;
  height: 75%;
}


/* SECCIÓN PÁGINA PRINCIPAL*/

#pagina-principal {
  height: 800px;
  background-image: url("imagenes/dentista.png");
}


.container1-pg1, .container2-pg1 {
  text-align: center;
  padding-top: 110px;
  padding-bottom: 10px;
}

.container3-pg1 {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}


.nav-link {
  color: #243a73;
  margin: 80px;
  text-decoration: none;
  font-weight: 500;
}

.registrar {
  margin-left: 58%;
  font-size: 100%;
}


.pg1-titulo {
  font-size: 100px;
}

.fa-tooth {
  margin: 50px auto;
}

/* SECCIÓN AGENDAR CITA*/

.container1-pg2{
  background-color: #bdcadb;
  width: 53%;
  height: 550px;
  margin: 20px auto 70px auto;
}

label {
  font-size: 20px;
}


input, select {
    background-color: #e0e7f3;
    color: #243a73;
    border-width: 0;
    border-radius: 0;
  text-align: left;
  padding: 10px 200px 10px 10px;
}

select {
  padding: 10px 130px 10px 10px;
}

td {
  padding: 0 60px 20px 20px;
}

.boton {
  padding-top: 50px;
}

  /* SECCIÓN INICIAR SESIÓN + RECUPERAR CONSTRASENA*/

  .container1-pg3 , .container1-pg8 {
    background-color:   #bdcadb;
    width: 30%;
    height: 450px;
    margin: 20px auto 20px auto;
    text-align: center;
  }

  .container2-pg3, .container2-pg8 {
    background-color:  #bdcadb;
    width: 30%;
    height: 50px;
    text-align: center;
    margin: 20px auto 20px auto;
    padding-top: 30px;

  }

  form {
    padding-top: 50px;
  }

  .login-titulo {
    text-align: center;
    margin-top: 70px;
  }

  .label-pg3{
    padding: 25px;
  }

  .input-pg3{
    margin-top: 15px;
    margin-bottom: 50px;
  }

  .elemento{
    margin: 20px auto;
  }

  .Link_rcuenta{
    border: none;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 10px;
    margin-top: 5px;
    margin-right: 70px;
    text-decoration: none;
    cursor:pointer;
    color: #243A73;
    background-color: #BECADB; 
}

  /* SECCIÓN REGISTRARSE */

  .container1-pg4{
    background-color: #bdcadb;
    width: 53%;
    height: 630px;
    margin: 20px auto 20px auto;
    padding-bottom: 20px;
  }

  .boton-pg4 {
    margin-left: 50px;
    margin-right: 50px;
  }

  table {
    margin: 0 auto 0 auto;
  }

  .registerText {
    margin-left: 50px
  }

  .btnLimpiar {
    margin-left: 42px;
    margin-bottom: 10px;
  }

  .botones_registrar {
    margin: 50px 0 20px 0;
    text-align: center;
  }
  /* SECCIÓN SERVICIOS */

  .container1-pg5 {
    text-align: center;
  }

  .div5 {
    display: inline-block;
    margin: 20px;
  }

  .nombre {
    font-weight: 400;
    font-size: 150%;
  }

  .servicioNombre1 {
    padding: 145px 78px;
  }

  .servicioNombre2{
    padding: 145px 105px;
  }

  .servicioNombre3{
    padding: 145px 80px;
  }

  .ortodoncia {
    background-image: url("imagenes/ortodoncia.png");

  }

  .limpieza {
    background-image: url("imagenes/limpieza.png");
  }

  .extraccion {
    background-image: url("imagenes/extraccion.png");
  }

  .botonServicio {
    margin-top: 60px;
  }

  /* SECCIÓN UBICACIÓN */

  .container1-pg6{
    margin-top: 100px;
    margin-bottom: 50px;
  }
  .datosUbicacion {
    margin: 50px;
    font-size: 150%;
    font-weight: 300;
  }

  .imagenUbicacion {
    text-align: center;
  }


  /* SECCION CONTACTO */

  .container1-pg7 {
    background-color: #bdcadb;
    width: 100%;
    height: 200px;
    margin: 20px auto 100px auto;
    text-align: center;
  }

  .div7 {
    display: inline-block;
    padding: 40px 80px;
  }

  .contacto {
    padding: 10px 30px;

  }


  /* BOTONES */

  /* Botón AGENDAR CITA página principal y servicios*/

  .btn1 {
    -webkit-border-radius: 60;
    -moz-border-radius: 60;
    border-radius: 60px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 17px;
    background: #6998ab;
    padding: 12px 30px 12px 30px;
    text-decoration: none;
  }

  .btn1:hover {
    background: #b1d0e0;
    text-decoration: none;
  }

  /* Botón ACEPTAR Y CANCELAR página agendar cita*/

  .btnAceptar {
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 12px;
    background: #6998ab;
    padding: 10px 25px 10px 25px;
    text-decoration: none;

  }

  .btnAceptar:hover{
    background: #b1d0e0;
    text-decoration: none;
  }

  .btnCancelar {
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 12px;
    background: #7A4069;
    padding: 10px 25px 10px 25px;
    text-decoration: none;
  }

  .btnCancelar:hover {
    background: #b0689d;
    text-decoration: none;
  }

  /* Botón INGRESAR página iniciar sesión */


  .btnIngresar {
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 12px;
    background: #6998ab;
    padding: 10px 25px 10px 25px;
    text-decoration: none;
  }

  .btnIngresar:hover{
    background: #b1d0e0;
    text-decoration: none;
  }

.Botones_adicionales input[type="button"], .Botones_adicionales input[type = "reset"]{
    border: none;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 10px;
    margin-top: 5px;
    cursor:pointer;
    color: #243A73;
    background-color: #BECADB;
}



